<img src="{{img_url}}" id="" width="{{w_size}}" height="{{h_size}}">
<p>Description:&#160;
{{img_desc}}<br>Destination webpage: &#160;<a target="_blank" href="{{dest_url}}">
{{dest_url}}
&#160;</a></p>
<cml:select label="Image matches description" class="" validates="required">
    <cml:option label="yes, completely" selected="" id="completely"/>
    <cml:option label="yes, but description is more general" id="desc_general"/>
    <cml:option label="yes, but description is more specific" id="desc_specific"/>
    <cml:option label="no, not at all, they are totally different" id="different"/>
  </cml:select>
  <cml:select label="Image matches the webpage content at the destination URL" class="" validates="required">
    <cml:option label="yes, completely" selected="" id="completely"/>
    <cml:option label="yes, but webpage is more general" id="web_general"/>
    <cml:option label="yes, but webpage is more specific" id="web_spec"/>    
    <cml:option label="no, not at all, they are totally different" id="different"/>
  </cml:select>
  
<cml:text label="Tag the image" class="" instructions="Enter keywords that best describe the image (separated by a comma)" validates="required alpha"/>
<cml:text label="Wikipedia page match for image" class="" instructions="Paste URL of a Wikipedia page that is a best match for the image content" validates="required url" gold="wiki_gold"/>