<div>&lt;p&gt;Find &lt;strong&gt;best matching Wikipedia page &lt;/strong&gt;for the following combination of image, description and destination URL. &lt;/p&gt;
&lt;p&gt;Example:
&lt;img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Annex_Esstisch_Ma%C3%9Ftisch_aus_Massivholz.jpg/320px-Annex_Esstisch_Ma%C3%9Ftisch_aus_Massivholz.jpg" width="320"&gt; &lt;br/&gt;
&lt;strong&gt;Description:&lt;/strong&gt; Solid wood dining table&lt;br/&gt;
&lt;strong&gt;Destination URL:&lt;/strong&gt; &lt;a href="http://www.houzz.com/photos/dining-tables"&gt;http://www.houzz.com/photos/dining-tables&lt;/a&gt;&lt;br/&gt;
&lt;/p&gt;
</div>